.field-image_upload, .field-multilingual_image_upload {
	position: relative;
}

.field-image_upload .image-ctn, .field-multilingual_image_upload .image-ctn {
	max-width: 50rem;
	margin: 0 auto;
}

.field-image_upload .image-upload-remove, .field-multilingual_image_upload .image-upload-remove {
	margin-bottom: 1rem;
	display: inline-block;
}

.field-image_upload .image-upload-remove:hover, .field-multilingual_image_upload .image-upload-remove:hover {
	color: #2f77eb !important;
}

.field-image_upload .image-upload-ctn, .field-multilingual_image_upload .image-upload-ctn {
	border: 1px solid #d3dce2;
	background: #f4f8fb;
	padding: 1.5rem;
	box-sizing: border-box;
	border-radius: 5px;
	text-align: center;
	margin-top: 1rem;
}

.field-image_upload .image-upload-editor img, .field-multilingual_image_upload .image-upload-editor img {
	width: 100%;
}

.field-image_upload .image-upload-editor .croppr-overlay, .field-multilingual_image_upload .image-upload-editor .croppr-overlay {
	background-color: #3B3D40;
	opacity: 0.2;
}

.field-image_upload .image-upload-editor .croppr-region, .field-multilingual_image_upload .image-upload-editor .croppr-region {
	border: 1px dashed #2f77eb;
	opacity: 0.6;
}

.field-image_upload .image-upload-editor .croppr-handleContainer .croppr-handle, .field-multilingual_image_upload .image-upload-editor .croppr-handleContainer .croppr-handle {
	border-radius: 100%;
	background-color: #2f77eb;
	border: 0;
}

.field-image_upload.is-forced-ratio .image-upload-editor .croppr-handleContainer .croppr-handle, .field-multilingual_image_upload .tab-panel.is-forced-ratio .image-upload-editor .croppr-handleContainer .croppr-handle {
	display: none;
}

.field-image_upload.is-forced-ratio .image-upload-editor .croppr-handleContainer .croppr-handle:nth-child(5), .field-multilingual_image_upload .tab-panel.is-forced-ratio .image-upload-editor .croppr-handleContainer .croppr-handle:nth-child(5) {
	display: block;
}
